{
  "app": {
    "signingConfigs": [
      {
        "name": "default",
        "type": "HarmonyOS",
        "material": {
          "certpath": "REPLACE_WITH_YOUR_DEBUG_CER",
          "keyAlias": "debugKey",
          "keyPassword": "REPLACE_WITH_YOUR_KEY_PASSWORD",
          "profile": "REPLACE_WITH_YOUR_DEBUG_P7B",
          "signAlg": "SHA256withECDSA",
          "storeFile": "REPLACE_WITH_YOUR_DEBUG_P12",
          "storePassword": "REPLACE_WITH_YOUR_STORE_PASSWORD"
        }
      }
    ],
    "products": [
      {
        "name": "default",
        "signingConfig": "default",
        "compileSdkVersion": "26.0.0",
        "targetSdkVersion": "26.0.0",
        "compatibleSdkVersion": "12",
        "runtimeOS": "OpenHarmony",
        "buildOption": {
          "strictMode": {
            "caseSensitiveCheck": true,
            "useNormalizedOHMUrl": true
          }
        }
      }
    ],
    "buildModeSet": [
      {
        "name": "debug"
      },
      {
        "name": "release"
      }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": [
            "default"
          ]
        }
      ]
    }
  ]
}
